* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* flex-container */
header {
  display: flex;
  /* how do we want to distribute the space of items */
  justify-content: space-between;
  align-items: center;
  background-color: black; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, black, purple);
  height: 13rem;
}

h1 {
  font-size: 7rem;
  text-shadow: 0 0 2.5rem gray;
  margin-left: 2rem;
}

a.one {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin: 0 2rem 0 1rem;
}
a.two {
  font-size: 2rem;
  color: black;
  text-decoration: none;
  margin: 0 2rem 0 1rem;
}
a.three {
  font-size: 2.5rem;
  color: black;
  margin: 1rem;
  text-shadow: 0 0 2.5rem white;
  text-decoration: none;
}

a:hover {
  color: black;
  text-shadow: 0 0 2rem white;
}

h2 {
  font-size: 4.5rem;
  text-shadow: 0 0 2.5rem white;
}

p {
  font-size: 2.5rem;
  margin: 1rem;

  text-shadow: 0 0 2.5rem white;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-right: black;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.code-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  padding-right: 1rem;
}

.cardOne {
  width: 45rem;
  border-right: solid gray;
  text-align: right;
  margin: 2rem 1rem 0 2rem;
  padding-right: 1rem;
}

.aboutMeSection {
  width: 66.6rem;

  margin: 1rem;
}

.workProjectMain {
  width: 66.6rem;
  height: 41.2rem;
  border: 0.4rem solid rgb(81, 113, 255);
  margin: 1rem;
  background-image: url(./images/background.jpeg);
  display: flex;
  align-items: flex-end;
}

h3 {
  font-size: 6rem;
  background-color: rgb(81, 113, 255);
  margin-bottom: 6rem;
}
h4 {
  font-size: 6rem;
  background-color: rgb(81, 113, 255);
  margin-bottom: 3rem;
}

h5 {
  font-size: 1.8rem;
  margin: 3rem;
  text-shadow: 0 0 2rem white;
}

.moarProjects {
  display: flex;
  flex-direction: row;
}

.workProject {
  width: 32.3rem;
  height: 20.6rem;
  border: 0.4rem solid rgb(81, 113, 255);
  margin: 1rem;
  display: flex;
  align-items: flex-end;
}

body {
  /* background-image: linear-gradient(rgb(0, 0, 0), rgb(95, 95, 95));
  color: rgb(110, 110, 110); */
  background-color: black;
  background-image: url(./images/MIH\ artwork\ Web.jpg);
}

footer {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .column-card {
    flex: 0 0 33.33333%;
    max-width: 33.333%;
  }
}
