* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* flex-container */
header {
  display: flex;
  /* how do we want to distribute the space of items */
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  background-color: #242526;
}

h1 {
  font-size: 6rem;
  margin-top: 25px;
  background-color: blueviolet;
}

a {
  font-size: 3rem;
  color: white;
  text-decoration: none;
  margin-left: 3rem;
}

h2 {
  font-size: 36px;
  border-right: solid;
  /* width: 900px; */
  padding: 0 10px 0 200px;
  text-align: right;
}

.code-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  margin: 50px;
}
