* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* flex-container */
header {
  display: flex;
  /* how do we want to distribute the space of items */
  justify-content: space-between;
  align-items: center;
  background-color: #242526;
}

h1 {
  font-size: 6rem;
  margin-top: 25px;
  background-color: blueviolet;
}

a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  margin: 0 2rem 0 1rem;
}

a:hover {
  color: blueviolet;
  font-size: 2.1rem;
}

h2 {
  font-size: 4rem;
}

.code-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 30rem;
  padding-right: 1rem;
}

p {
  font-size: 2.5rem;
  margin: 1rem;
  width: 90rem;
}

img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-right: black;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cardOne {
  width: 99rem;
  border-right: solid black;
  text-align: right;
  margin: 2rem 1rem 0 2rem;
  padding-right: 1rem;
}
